
body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: $dark-900;
  background-color: $white;
  overflow-x: hidden;
  height: 100vh;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1 1 auto;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  @extend %ruda;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $dark-900;
  margin-bottom: 30px;
  @include media-4 {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 52px;
  @include media-4 {
    margin-bottom: 13px;
  }
}

.buttons__item {
  margin-right: 24px;
  @include media-4 {
    margin-bottom: 15px;
  }
  &:last-child {
    margin-right: 0;
  }
}

.buttons__button {
  @extend %font;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: relative;
  outline: transparent;
  @include media-4 {
    font-size: 14px;
  }

  &::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: -3px;
    left: 0;
    background-color: transparent;
    transition: background-color 0.5s;
  }

  &:hover::before,
  &:active::before,
  &:focus::before {
    background-color: #b1d387;
  }
}

.mini-card {
  &__wrapper {
    position: absolute;
    top: 66px;
    left: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
  }

  &__availability {
    @extend %font;
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
    background-color: transparent;
    text-transform: uppercase;
    display: none;
    &--instock {
      color: $green-900;
    }

    &--finish {
      color: $red-900;
    }

    &--over {
      color: $silver-600;
    }
    &--on {
      display: block;
    }
  }
}

@mixin line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.badges {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 10;

  &__badge {
    padding: 3px 6px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $white;
    display: none;

    &--on {
      display: block;
    }

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    &--new {
      background-color: $green-900;
    }

    &--hit {
      background-color: #ff7a00;
    }

    &--sale {
      background-color: $red-900;
    }
  }
}

.favorite {
  position: absolute;
  top: 17px;
  right: 12px;
  z-index: 10;
  svg {
    path {
      transition: fill 0.5s;
    }
  }
  svg:hover {
    path {
      fill: #ffb800;
    }
  }
}

.counter {
  &__btn {
    width: 24px;
    height: 24px;
    background-color: $green-900;
    position: relative;
    align-self: flex-end;
  }

  &__btn--minus::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: $white;
    border-radius: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__btn--plus::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: $white;
    border-radius: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__btn--plus::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 16px;
    background-color: $white;
    border-radius: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__count {
    padding: 4px 14px;
    background-color: rgba(99, 166, 14, 0.1);
    @extend %font;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $dark-500;
    align-self: flex-end;
    display: inline-block;
  }
}
