$green-900: #63a60f;
$green-200: #e0edcf;
$green-100: #eff6e7;
$dark-900: #121212;
$dark-800: #31352b;
$dark-500: #505050;
$red-900: #cf3e3b;
$orange-900: FF7A00;
$yellow-900: #ffb800;
$silver-600: #c1c1c1;
$silver-100: #f6f6f6;
$white: #ffffff;
$black: #000000;

%font {
  font-family: "OpenSans", sans-serif;
}

%ruda {
  font-family: "Ruda", sans-serif;
}

$md1: 1200;
$md2: 992;
$md3: 768;
$md4: 576;


@mixin media-1 {
  @media (max-width: $md1 + 'px') {
    @content;
  }
}

@mixin media-2 {
  @media (max-width: $md2 + 'px') {
    @content;
  }
}

@mixin media-3 {
  @media (max-width: $md3 + 'px') {
    @content;
  }
}

@mixin media-4 {
  @media (max-width: $md4 + 'px') {
    @content;
  }
}
