@import "fonts";
@import "vars";
@import "reset";
@import "global";

.header {
  @extend %font;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 13px;
  line-height: 1.4;
  color: $white;
  position: relative;

  &__top {
    background-color: $dark-800;
  }

  &__wrapper {
    padding: 17px 0 15px;
    color: $white;
    display: flex;
    justify-content: space-between;
    padding-left: 43px;
  }

  &__column {
    display: flex;
  }

  &__item {
    position: relative;
    margin-right: 24px;
    transition: opacity 0.5s;
    text-transform: uppercase;
    &:last-child {
      margin-right: 0;
    }
    &:hover,
    &:hover {
      opacity: 0.7;
    }
  }

  &__item-adress {
    margin-right: 83px;
  }

  &__item-adress,
  &__item-hotline {
    position: relative;
  }

  &__item-adress::before {
    content: "";
    position: absolute;
    background-image: url("../images/icons/truck-icon.svg");
    width: 32px;
    height: 22px;
    left: -43px;
    top: -4px;
  }

  &__item-hotline::before {
    content: "";
    position: absolute;
    background-image: url("../images/icons/phone-icon.svg");
    width: 22px;
    height: 22px;
    left: -34px;
    top: -3px;
  }

  &__bottom {
    background-color: $green-900;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
  }

  &__logo {
    margin-right: 25px;
  }
}

.catalog {
  width: 240px;
  position: relative;
  margin-right: 30px;

  &__btn {
    background-color: $white;
    padding: 15px 38px 15px 61px;
    display: inline-block;
    color: $green-900;
    border-radius: 6px;
    outline: transparent;
    @extend %font;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    transition: background-color 0.5s;
    width: 100%;
    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/icons/catalog_icon.svg");
      width: 24px;
      height: 19px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      top: 15px;
      left: 17px;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/icons/catalog-arrow_icon.svg");
      width: 10px;
      height: 7px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      top: 21px;
      right: 19px;
      transition: transform 0.5s;
    }

    &:hover,
    &:active {
      background-color: #e0edcf;
      border-radius: 6px 6px 6px 6px;
    }

    &:focus {
      background-color: #e0edcf;
      border-radius: 6px 6px 0 0;
    }
    &.catalog__btn--active {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__list {
    position: absolute;
    width: 100%;
    top: 49px;
    left: 0;
    z-index: 10;
    display: none;
    border: 1px solid #ebebeb;
    border-bottom: none;
    border-radius: 0 0 6px 6px;
    background-color: $white;
  }

  &__link {
    display: block;
    width: 100%;
    padding: 15px 0 15px 24px;
    border-bottom: 1px solid rgba(193, 193, 193, 0.3);
    color: $black;
    @extend %font;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    border-radius: 0;
    transition: color 0.5s;
    position: relative;
    overflow: hidden;
    color: #000000;

    &:hover {
      color: $green-900;
    }

    &::before {
      content: "";
      position: absolute;
      width: 3px;
      height: 100%;
      top: 0;
      left: -1px;
      background-color: transparent;
      transition: background-color 0.5s;
    }

    &:hover::before {
      background-color: $green-900;
    }
  }
}

.search-form {
  position: relative;
  margin-right: auto;
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../images/icons/search-icon.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: $white;
    opacity: 0;
    top: 0;
    left: 0;
    border-radius: 3px;
    z-index: 5;
    transition: background-color 0.5s;
  }
  &:hover::before {
    opacity: 0.1;
  }

  &__input {
    background-color: $white;
    padding: 15px 5px 15px 51px;
    width: 419px;
    max-width: 100%;
    position: relative;
    border: none;
    border-radius: 6px 0 0 6px;
    outline-style: none;
    @extend %font;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: #31352b;
    &::placeholder {
      @extend %font;
      font-size: 14px;
      line-height: 1.4;
      letter-spacing: 0.03em;
      color: $dark-800;
    }
  }

  &__button {
    margin-left: -4px;
    padding: 15px 52px;
    background-color: $dark-800;
    color: $white;
    border-radius: 0 6px 6px 0;
    outline-style: none;
    @extend %font;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    transition: background-color 0.5s, box-shadow 0.5s, color 0.5s, border-radius 0.5s;

    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }

    &:focus {
      outline-color: none;
      box-shadow: 0 0 0 4px #b1d387;
      border-radius: 0 3px 3px 0;
    }
  }
}

.info-list {
  display: flex;
  align-items: center;

  &__item {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 11px;
    border-radius: 3px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $white;
      opacity: 0;
      border-radius: 3px;
      transition: background-color 0.5s, opacity 0.5s;
    }

    &:hover::before {
      opacity: 0.1;
    }

    &.user {
      background-image: url("../images/icons/icon-user.svg");
      width: 24px;
      height: 32px;
    }

    &.heart {
      background-image: url("../images/icons/icon-heart.svg");
      width: 32px;
      height: 28px;
    }

    &.basket {
      background-image: url("../images/icons/icon-basket.svg");
      width: 32px;
      height: 31px;
    }
  }

  &__count {
    position: absolute;
    top: 3px;
    left: 6px;
    min-width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: $white;
    color: $red-900;
    @extend %font;
    font-size: 10px;
    letter-spacing: 0.03em;
    padding: 1px 2px;
  }
}

.rightside-menu {
  width: 476px;
  max-width: 100%;
  padding-top: 19px;
  position: absolute;
  z-index: 20;
  background-color: $white;
  top: 0;
  bottom: 0;
  right: 0;
  &.rightside-menu--close {
    transform: translateX(100%);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 26px;
  }

  &__wrapper {
    padding-top: 2px;
    color: $black;
    line-height: 1.2;
    padding-bottom: 12px;
    font-weight: 400;
  }

  &__title {
    @extend %font;
    font-size: 24px;
    display: block;
    margin-bottom: 12px;
    letter-spacing: 0.1em;
  }

  &__clean {
    @extend %font;
    font-size: 14px;
    display: block;
    letter-spacing: 0.05em;
  }

  &__close {
    background-image: url("../images/rightside-menu/close.svg");
    width: 24px;
    height: 24px;
    margin-bottom: 14px;
  }

  &__list {
    background-color: #f6f6f6;
    padding: 12px;
    min-height: 705px;
  }

  &__item {
    color: $dark-900;
    padding: 11px 12px 11px 12px;
    display: flex;
    background-color: #fff;
    align-items: center;
    border: 1px solid $silver-600;
    border-radius: 3px;
    margin-bottom: 12px;
    height: 84px;
  }

  &__img {
    margin-right: 31px;
  }

  &__inner {
    margin-right: auto;
    width: 170px;
    max-width: 100%;
  }

  &__product {
    display: block;
    margin-bottom: 6px;
    @extend %font;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
  }

  &__price {
    display: block;
    @extend %font;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $dark-500;
  }

  &__btn {
    width: 24px;
    height: 24px;
    background-color: $green-900;
    position: relative;
    align-self: flex-end;
  }

  &__btn--plus {
    margin-right: 14px;
  }

  &__btn--minus::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: $white;
    border-radius: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__btn--plus::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: $white;
    border-radius: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__btn--plus::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 16px;
    background-color: $white;
    border-radius: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__count {
    padding: 4px 14px;
    background-color: rgba(99, 166, 14, 0.1);
    @extend %font;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $dark-500;
    align-self: flex-end;
  }

  &__cost {
    @extend %font;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $dark-500;
    align-self: flex-end;
    display: block;
  }

  &__cost span,
  &__price span {
    font-size: 14px;
  }

  &__wrap {
    width: 100%;
    display: flex;
    @extend %font;
    font-weight: 400;
    align-items: center;
    padding: 24px;
    justify-content: space-between;
    background-color: $white;
    letter-spacing: 0.03em;
  }

  &__text {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.06em;
    color: #000000;
  }

  &__total {
    @extend %font;
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $dark-500;

    span {
      font-size: 20px;
    }
  }

  &__button {
    background-color: $green-900;
    width: 100%;
    padding: 23px 0;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $white;
  }
}

.best-offer {
  position: relative;
  &__body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 600px;
    max-height: 100%;
  }
  &__wrapper {
    padding: 0 100px;
    position: relative;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    width: 1290px;
    max-width: 100%;
  }

  &__title {
    @extend %ruda;
    font-weight: 900;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    color: $dark-500;
    max-width: 761px;
    margin-bottom: 8px;
    & span {
      color: $red-900;
    }
  }

  &__text {
    @extend %font;
    font-size: 16px;
    line-height: 1.4;
    color: $dark-500;
    margin-bottom: 33px;
    letter-spacing: 0.02em;
  }

  &__btn {
    padding: 12px 24px;
    background: #63a60e;
    border-radius: 6px;
    @extend %font;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.08em;
    color: $white;
    display: block;
    outline-style: none;
    transition: background-color 0.5s;
    &:hover {
      background-color: #4d810c;
    }
    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
    &:focus {
      outline-color: none;
      box-shadow: 0 0 0 4px #b1d387;
      border-radius: 3px;
      color: $white;
    }
  }
  &__prev,
  &__next {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: transparent;
    background-size: 18px 32px;
    background-position: center;
    background-repeat: no-repeat;
    outline: transparent;
    transition: background-color 0.5s, border-color 0.5s, box-shadow 0.5s;
    &:hover {
      background-color: $green-200;
      border-color: $green-900;
    }
    &:active {
      box-shadow: 0 0 0 0 transparent;
    }
    &:focus {
      background-color: $green-200;
      border-color: $green-900;
      outline-color: none;
      box-shadow: 0 0 0 4px #b1d387;
      border-radius: 3px;
    }
  }

  &__prev {
    left: 50px;
  }

  &__next {
    right: 50px;
  }

  &__arrow path {
    fill: $dark-500;
    transition: fill 0.5s;
  }

  &__arrow:hover path {
    fill: $green-900;
  }
}

.service-info {
  background-color: $silver-100;

  &__wrapper {
    display: flex;
    justify-content: center;
    padding: 48px 0 29px;
  }

  &__item {
    margin-right: 69px;
    padding-left: 75px;
    width: 262px;
    max-width: 100%;
    position: relative;
    &:last-child {
      margin-right: 0;
    }

    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:nth-child(1)::before {
      background-image: url("../images/servicw-info/scooter-icon.svg");
    }

    &:nth-child(2)::before {
      background-image: url("../images/servicw-info/return-box-icon.svg");
    }

    &:nth-child(3)::before {
      background-image: url("../images/servicw-info/24-hours-icon.svg");
    }
  }

  &__title {
    @extend %font;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    color: $dark-900;
    margin-bottom: 6px;
  }

  &__text {
    @extend %font;
    font-size: 14px;
    line-height: 1.4;
    color: $dark-500;
  }
}

.products {
  padding-top: 75px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: 18px;
  }

  &__btn {
    padding: 11px 26px;
    border: 1px solid $green-900;
    border-radius: 6px;
    @extend %font;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $green-900;
    display: block;
    margin: 0 auto;
    transition: background-color 0.5s, box-shadow 0.5s, color 0.5s;
    outline-style: none;
    &:hover {
      background-color: $green-100;
    }

    &:active {
      box-shadow: inset 0 10px 4px rgba(0, 0, 0, 0.1);
      background-color: transparent;
      color: rgba(99, 166, 14, 0.5);
    }

    &:focus {
      outline-color: none;
      box-shadow: 0 0 0 4px #b1d387;
      border-radius: 3px;
    }
  }
}

.card {
  width: calc(25% - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  position: relative;

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 409px;
    max-height: 100%;
    padding: 12px 0 13px;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
    transition: border-color 0.5s;

    &:hover {
      border-color: $green-900;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 12px 0 12px;
    margin-bottom: -26px;
    height: 70px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 20;
  }

  &__discount {
    display: none;
  }

  &__heart {
    align-self: start;
    padding-top: 3px;
  }

  &__heart-img path {
    transition: fill 0.5s;
  }

  &__heart-img:hover {
    & path {
      fill: #ffb800;
    }
  }

  &__main-img {
    margin-bottom: 17px;
  }

  &__title {
    margin-bottom: auto;
    padding-left: 18px;
    padding-right: 15px;
  }

  &__name {
    @extend %font;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.45;
    letter-spacing: 0.03em;
    color: $dark-900;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 22px;
  }

  &__prices {
    align-self: flex-end;
    @extend %font;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $dark-500;
    margin-bottom: 5px;
  }

  &__price-none {
    display: none;
  }

  &__old-price {
    display: block;
    color: $silver-600;
    position: relative;
    width: 50px;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 50%;
      border-bottom: 1px solid $silver-600;
      transform: rotate(-15deg);
    }
  }

  &__actual-price {
    display: block;
  }

  &__basket {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    border-color: transparent;
    margin-right: 5px;
    transition: box-shadow 0.5s;
    outline-style: none;
  }

  &__basket:active {
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }

  &__basket:focus {
    outline-color: none;
    box-shadow: 0 0 0 4px #b1d387;
    border-radius: 3px;
  }

  &__basket-img rect {
    transition: fill 0.5s;
  }

  &__basket-img:hover rect {
    fill: #4d800c;
  }
}

.action {
  padding: 72px 0;
  &__list {
    display: grid;
    grid-template-columns: minmax(300px, 630px) 300px 300px;
    grid-template-rows: minmax(300px, auto);
    grid-gap: 30px;
  }
  &__item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // height: 300px;
    @extend %font;
    color: $white;
    text-transform: uppercase;
    padding: 76px 0 0 34px;
  }

  &__item:nth-child(n + 2) {
    color: $dark-500;
    & .action__text {
      max-width: 190px;
    }
    & .action__link:before {
      background-color: $dark-500;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.1em;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 17px;
  }

  &__text {
    font-family: Ruda;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.4;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 12px;
    max-width: 400px;
  }

  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 165px;
      height: 2px;
      background-color: $white;
      left: 0;
      top: 20px;
    }
  }
}

.event {
  background-color: #f5f5f5;
  padding: 72px 0;
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

.mini-card {
  &__wrap {
    padding: 12px;
    display: flex;
    background-color: $white;
  }
}
.footer {
  background-color: $dark-800;
  padding: 30px 0 24px;
  color: $white;

  &__top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__content {
    padding: 30px 0 26px;
    display: flex;
    position: relative;
  }

  &__form {
    width: 320px;
    max-width: 100%;
    margin-right: auto;
  }

  &__text {
    @extend %font;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 18px;
    display: inline-block;
  }

  &__email {
    @extend %font;
    font-size: 14px;
    line-height: 1;
    color: #4f4f4f;
    letter-spacing: 0.03em;
    padding: 11px 5px 13px 12px;
    border-radius: 6px 0 0 6px;
    outline-style: none;
    border: none;
    & ::placeholder {
      color: #4f4f4f;
    }
  }

  &__button {
    padding: 12px 10px 12px 14px;
    @extend %font;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    border-radius: 0 6px 6px 0;
    background-color: $green-900;
    margin-left: -11px;
    border: none;
    max-height: 40px;
    color: $white;
    transition: background-color 0.5s, color 0.5s;
    &:hover {
      background-color: #4d800c;
    }
    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
    &:focus {
      outline-color: none;
      box-shadow: 0 0 0 4px #b1d387;
      border-radius: 3px;
      color: $white;
    }
  }

  &__list {
    column-count: 3;
    margin-right: 37px;
  }

  &__item {
    margin-right: 60px;
  }

  &__link {
    @extend %font;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 18px;
    display: inline-block;
  }

  &__contacts {
    width: 220px;
    max-width: 100%;
    @extend %font;
    font-size: 14px;
    line-height: 1.4;
    display: inline-block;
  }

  &__tel {
    display: inline-block;
    margin-bottom: 18px;
  }

  &__adress {
    margin-bottom: 20px;
    display: inline-block;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
  }

  &__payment {
    display: flex;
  }

  &__copyright {
    @extend %font;
    font-size: 14px;
    line-height: 1.4;
  }

  &__visa {
    margin-right: 24px;
  }
}

.social {
  display: flex;
  flex-direction: row;
  &__item {
    margin-right: 12px;
    transition: opacity 0.5s;
    &:active {
      opacity: 0.7;
    }
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 30;
  }
}

@import "media";
